

@media (max-width:991px){
    html{
        font-size: 55%;
    }
    .header{
        padding: 1.5rem 2rem;
    }
    section{
        padding: 3rem 2rem;
    }
}


@media (max-width:768px){
    #menu-btn{
        display: inline-block;/*menu hamburgue*/
    }
  
    .header .navbar{
        position: absolute;
        left: 0;
        top:99%;
        right: 0;
        background: var(--bg-color);
        clip-path: polygon(0 0 , 100% 0, 100% 0, 0 0);/*menu hamburgue*/
    }
    .header .navbar.active{
        clip-path: polygon(0 0 , 100% 0, 100% 100%, 0 100%);/*menu hamburgue*/
    }
    .header .navbar a{
        margin: 2rem;
        font-size: 2rem;
        display: block;
    }
    .home {
        margin-top: 10rem;
    }
    .home .content span{
        font-size: 9vw;
    }
       .banner .content h3{
        font-size: 2rem;
        
    }
    .banner .content p{
        font-size: 1rem;
        max-width: 40rem;
    }

}


@media (max-width:450px){
    html{
        font-size: 50%;
    }
    .about .content h3{
        font-size: 3rem;
    }
    .banner .content h3{
        font-size: 2rem;
        
    }
    .banner .content p{
        font-size: 1rem;
        max-width: 40rem;
    }
}
